<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CopeDefenseLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CopeDefenseLauncher.Properties.Settings>
            <setting name="SteamExecutable" serializeAs="String">
                <value/>
            </setting>
            <setting name="DoW2Arguments" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
        </CopeDefenseLauncher.Properties.Settings>
    </userSettings>
    <system.serviceModel>
      <bindings>
        <netNamedPipeBinding>
          <binding name="NetNamedPipeBinding_IForwardPort" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
            <security mode="Transport">
              <transport protectionLevel="EncryptAndSign"/>
            </security>
          </binding>
        </netNamedPipeBinding>
      </bindings>
      <client>
        <endpoint address="net.pipe://localhost/cope.ForwardOperationalBase/ForwardPort" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IForwardPort" contract="IForwardPort" name="ForwardPortClient">
          <identity>
          </identity>
        </endpoint>
      </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
