<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModTool.FE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CopeModToolDoW2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModTool.FE.Properties.Settings>
            <setting name="sLastPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="bDirViewHideIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bDirviewMarkChanged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sSteamExecutable" serializeAs="String">
                <value/>
            </setting>
            <setting name="sSteamAppID" serializeAs="String">
                <value/>
            </setting>
            <setting name="bAppMarkChanged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAppAllowOpeningTwice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bTestWindowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bTestDebugWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bTestNoMovies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sTestParams" serializeAs="String">
                <value/>
            </setting>
            <setting name="sLanguage" serializeAs="String">
                <value/>
            </setting>
            <setting name="bUCSCopyIndexToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bUCSAutoIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bUseAdvancedDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sLastReleaseDir" serializeAs="String">
                <value/>
            </setting>
        </ModTool.FE.Properties.Settings>
        <CopeModToolDoW2.Properties.Settings>
            <setting name="lastPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="dvHideIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dvMarkChangedDirs" serializeAs="String">
                <value>True</value>
            </setting>
        </CopeModToolDoW2.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IForwardPort" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/cope.ForwardOperationalBase/ForwardPort" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IForwardPort" contract="IForwardPort" name="ForwardPortClient">
        <identity>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins;plugins\filetypes"/>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
